<h1>{{ artist.name }}</h1>
<ul>
    <li>{{ artist.id }}</li>
    <li>{{ artist.link }}</li>
    <li>{{ artist.picture_small }}</li>
    <li>{{ artist.picture }}</li>
    <li>{{ artist.picture_medium }}</li>
    <li>{{ artist.picture_big }}</li>
    <li>{{ artist.picture_xl }}</li>
</ul>

{% for album in artist.albums %}
    <h2>{{ album.title }}</h2>
    <ul>
        <li>{{ album.id }}</li>
        <li>{{ album.link }}</li>
        <li>{{ album.release_date }}</li>
        <li>{{ album.record_type }}</li>
        <li>{{ album.cover_small }}</li>
        <li>{{ album.cover }}</li>
        <li>{{ album.cover_medium }}</li>
        <li>{{ album.cover_big }}</li>
        <li>{{ album.cover_xl }}</li>
    </ul>

    {% for track in album.tracks %}
    <h3>{{ track.title_short }}</h3>
        <ul>
            <li>{{ track.title_version }}</li>
            <li>{{ track.track_position }}</li>
            <li>{{ track.link }}</li>
            <li>{{ track.preview }}</li>
            <li>{{ track.duration }}</li>
        </ul>
    {% endfor %}
{% endfor %}
